rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /products/{productId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'admin@geckolab.kr';

      match /reviews/{reviewId} {
        allow read: if true;
        allow create: if request.auth != null;
        allow delete: if request.auth != null && request.auth.token.email == 'admin@geckolab.kr';
        allow update: if request.auth != null;
      }
    }

    match /notices/{noticeId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'admin@geckolab.kr';
    }

    match /users/{userId} {
      allow read, write: if request.auth != null &&
        (request.auth.uid == userId || request.auth.token.email == 'admin@geckolab.kr');
    }

    match /orders/{orderId} {
  allow create: if request.auth != null;
  allow read, update: if request.auth != null &&
    (request.auth.uid == resource.data.uid || request.auth.token.email == 'admin@geckolab.kr');
  allow delete: if request.auth != null && request.auth.token.email == 'admin@geckolab.kr';
}

    match /inquiries/{inquiryId} {
      allow create: if request.auth != null;
      allow read, update, delete: if request.auth != null &&
        (request.auth.uid == resource.data.uid || request.auth.token.email == 'admin@geckolab.kr');
    }
  }
}